{% extends "layout.html" %}
{% block title %}Permissions Summary{% endblock %}
{% block content %}
{% from "sort_filter.html" import sort_filter %}

<div class="container-fluid">
    <div class="h2 text-center">Permissions Summary</div>
    <form method="GET">
        <div class="row">            
            <div class="col">
                <label class="visually-hidden" for="name">Username</label>
                <input type="text" name="username" class="form-control" id="username" placeholder="Username"
                                                value="{{request.args.get('username') or ''}}">
            </div>
            <div class="col">
                <label class="visually-hidden" for="name">Description</label>
                <input type="text" name="description" class="form-control" id="description" placeholder="Description"
                                                value="{{request.args.get('description') or ''}}">
            </div>
            <div class="col">
                <label class="visually-hidden" for="is_active">active?</label>
                <select class="form-select" id="col" name="is_active">
                    <option value="">Active?</option>
                    <option value=1>Yes</option>
                    <option value=0>No</option>
                </select>
            </div>
            {{sort_filter(cols=allowed_columns)}}
            <div class="col">
                <label class="visually-hidden" for="limit">Limit</label>
                <input class="form-control" type="number" id="limit" name="limit"
                    value="{{request.args.get('limit') or '10'}}" />
            </div>
            <div class="col">
                <input type="submit" class="btn btn-primary" value="Filter" />
            </div>
            <div class="col">
                <a href="?" class="btn btn-secondary">Reset</a>
            </div>
        </div>
    </form>
    <div class="table-responsive" style="height:67vh; overflow: auto;">
        <table class="table">
            {% if rows and rows|length > 0 %}
            <thead>
                <tr class="text-capitalize">
                    {% for r in rows[0] %}
                    {% if r not in ("userid","entity_id") and r != "is_active"%}
                    <th>{{r.replace("_", " ")}}</th>
                    {% endif %}
                    {% if r == "is_active" %}
                    <th>{{"Active?"}}</th>
                    {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for r in rows %}
                <tr>
                    {% for v in r.keys() %}
                    {% if v not in ("userid","entity_id") and v != "is_active"%}
                    <td>{{r[v]}}</td>
                    {% elif v == "is_active" %}
                    <td>{{"Yes" if r[v] == 1 else "No" }}</td>
                    {% endif %}
                    {% endfor %}
                    <td><a href="{{url_for('adminassoc.delassoc', userid=r.get('userid'), entityid=r.get('entity_id'), **request.args)}}"
                            class="btn btn-danger btn-sm">X</a></td>
                </tr>
                {% endfor %}
            </tbody>
            {% else %}
            <tbody>
                <tr>
                    <td colspan="100%">No results to show</td>
                </tr>
            </tbody>
            {% endif %}
        </table>
    </div>
</div>
{% endblock %}