{% extends "layout.html" %}
{% block title %}
{% if type == "artists" %}
Edit Artist
{% else %}
Edit Track
{% endif %}
{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<div class="container-fluid">
    <div class="h3">
        {% if type == "artists" %}
            Edit Artist
        {% else %}
            Edit Track
        {% endif %}
    </div>
    <form method="POST">
        <div class="form-group mb-3" style="height:60vh;overflow: auto;">
            {% if type == "artists" %}
            <div class="form-label">
                <label class="form-label" for="artist_name">Artist Name</label>
                <input class="form-control" id="artist_name" name="artist_name" value="{{row.name}}"/>
            </div>
            <div class="form-label">
                <label class="form-label" for="genre">Genre</label>
                <input class="form-control" id="genre" name="genre" value="{{row.genre}}"/>
            </div>
            <div class="form-label">
                <label class="form-label" for="spotifyurl">Spotify URL</label>
                <input class="form-control" id="spotifyurl" name="spotifyurl" value="{{row.spotifyUrl}}"/>
            </div>
            <div class="form-label">
                <label class="form-label" for="imageurl">Image URL</label>
                <input class="form-control" id="imageurl" name="imageurl" value="{{row.imageUrl}}"/>
            </div>
            <div class="form-label">
                <input type="submit" class="btn btn-primary" value="Edit Artist" />
            </div>
            {% else %}
            <div class="form-label">
                <label class="form-label" for="name">Track Name</label>
                <input class="form-control" id="name" name="name" value="{{row.name}}"/>
            </div>
            <div class="form-label">
                <label class="form-label" for="artist_name">Artist Name</label>
                <input class="form-control" id="artist_name" name="artist_name" value="{{row.artistname}}"/>
            </div>
            <div class="form-label">
                <label class="form-label" for="album_name">Album Name</label>
                <input class="form-control" id="album_name" name="album_name" value="{{row.albumname}}"/>
            </div>
            <div class="form-label">
                <label class="form-label" for="album_url">Album URL</label>
                <input class="form-control" id="album_url" name="album_url" value="{{row.albumurl}}"/>
            </div>
            <div class="form-label">
                <label class="form-label" for="duration">Duration</label>
                <input class="form-control" id="duration" name="duration" value="{{row.duration}}"/>
            </div>
            <div class="form-label">
                <input type="submit" class="btn btn-primary" value="Edit Track" />
            </div>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}